// Fonts
$tradegothic: "TradeGothic";
$tradegothiccond: "TradeGothic CondEighteen";
$dignitas: "Dignitas Regular";
$dignitasital: "Dignitas Italic";
$dignitasbold: "Dignitas Bold";

// Defaults.
$default-font: $tradegothic;

// Defaults, menu.
$primary-menu-font: $tradegothiccond;
$secondary-menu-font: $tradegothic;

// Defaults, headings.
$display-sans: $tradegothiccond;
$display-serif: $dignitas;

// Defaults, body.
$body-serif: $dignitas;

// Links.
$cta-link: $tradegothiccond;

// Edit.
$edit: $tradegothiccond;

// Download.
$download: $tradegothiccond;
