.page-node-type-programs .paragraph__col-2,
.page-node-type-page .paragraph__col-2 {
  display: flex;
  flex-direction: column;
}

.page-node-type-programs article,
.page-node-type-page article {
  .paragraph__col-2 {
    padding-right: 15%;
  }
}

// set gutter between subheader in left col and paragraph body in right col
@include mq($from: desktop) {

  .page-node-type-programs article,
  .page-node-type-page article {
    .paragraph {
      display: flex;
      flex-direction: row;

      .paragraph__col-1 {
        flex-basis: 25%;
      }

      .paragraph__col-2 {
        flex-basis: 75%;
      }
    }
  }
}

.paragraph ul {
  padding-left: 3rem;
  padding-right: 3rem;
}

.paragraph li {
  @include body;
  padding-left: 1rem;
  text-indent: calc(-1rem - 12px);
  padding-bottom: 1rem;

  &:before {
    content: "–";
    margin-right: 1rem;
  }
}

.paragraph h3 {
  line-height: 1.2rem;
  padding-bottom: 0.5rem;
}

// .field-program-dates {
//   display: flex;
//   flex-direction: column;

//   @include mq($from: desktop) {
//     flex-direction: row;
//   }

//   .field__item {
//     flex-basis: 75%;
//   }

//   .field__label {
//     flex-basis: 25%;
//   }

// }


// .field-program-dates .field__item {
//   @include body;
// }


.path-research-resources-electronic-journals .page-section .paragraph {
  margin-top: 0rem;
}
